/* Landing Page */
*{
  padding: 0;
    margin: 0;
}

h1{
  font-size: 3rem;
  margin: 1rem 0;
}

img{
  width: 14rem;
  height: 14rem;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 6px 4px 5px gray;
}

.main{
 
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Nav */
.logo{
  width: 10rem;
  height: auto;
  margin: .7rem 2rem;
  padding: .3rem 1rem;
  gap: 1rem;
  border: none;
  box-shadow: none;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
 
  
}



.nav-link{
font-size: 1.6rem;
margin: .7rem 1.5rem;
gap: 1rem;
padding: .3rem;
text-decoration: none;
color: #ea8e8e;
}
/* Banner */
.banner{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50rem;
  background: url('../public/images/product.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

/* Featured Product */
.featured-product, .best-seller-product{
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  cursor: pointer;
}

.featured-container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 13%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  overflow: hidden;


  justify-content: center;
  align-items: center;
  height: 20rem;
  width: auto;
  margin: 3rem 2rem 15rem 2rem;
  gap:3rem;
  background-color: white;
}

.inline-snap{
  scroll-snap-type:inline mandatory;
}

.inline-snap > * {
  scroll-snap-align: start;
}

/* product */
.product-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5rem 1rem 
}

.product-container{
  display: flex;
  flex-direction: row;
}

.product-image{
  width: 50rem;
  height: 50rem;
  margin: 2rem;
}

.product-text{
  margin: 1rem 4rem;
  width: 40%;
}

.product-description{
margin-top: 3rem;
font-size: 2rem;
}


/* Product reviews */
.product-reviews{
margin: 10rem 1.5rem;
}

.review-title{
margin: 0 1rem 1.5rem .5rem;
padding: .5rem;
}

.review-description{
  color:#000000;
  font-size:20px;
  width:45%;
  position: relative;
  display: inline-block;
  height: auto;
  margin-bottom: 3rem;
}

